<dl class="movie-details cf">
  <dt class="label">Starring</dt>
  <dd class="detail">{{movie_details.cast}}</dd>
  <dt class="label">Directed by</dt>
  <dd class="detail">{{movie_details.director}}</dd>
  <dt class="label">Music by</dt>
  <dd class="detail">{{movie_details.music}}</dd>
  <dt class="label">Run time</dt>
  <dd class="detail">{{movie_details.runtime}}</dd>
  <dt class="label">Overview</dt>
  <dd class="detail">{{movie_details.overview}}</dd>
</dl>

<a class="button" href="https://www.youtube.com/watch?v={{movie_details.trailer_id}}">Watch Trailer</a>