<div class="movies-list" id="moviesList">
  <script type="text/x-handlebars-template" id="moviesListItemTemplate">
  {{#movie_details}}
	<div class="movie-list-item" data-id="{{movie_id}}">
    <img src="http://image.tmdb.org/t/p/w342/{{poster_path}}.jpg" alt="{{original_title}}">
  </div>
  {{/movie_details}}
	</script>
</div>
