<div class="top-bar">
  <div class="top-bar-left">
    <a href="#" id="backButton" class="button button-back">Back</a>
  </div>

  <div class="top-bar-center">
    <h1>Thirai</h1>
  </div>

  <div class="top-bar-right">
    <a href="#" id="filtersButton" class="button button-filters">Filters</a>
  </div>
</div>
